{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log-in{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <h1>Log In</h1>
    {% if form.errors %}
      <p>
        Your username and password didn't match.
        Please try again.
      </p>
    {% else %}
      <p>Please Login to continue</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><button type="submit" class="btn btn-primary">Log In</button></p>
        <a href="{% url 'password_reset' %}">Forgot? Click here to reset</a>
    </div>
  </div>
</div>
<div class="social">
  <ul>
    <li class="facebook"><a href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a></li>
    <li class="google"><a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a></li>
  </ul>
</div>
{% endblock %}