@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.accent-color {
    color: darkcyan;
}

h2, h3, h4 {
    font-family: Montserrat;
}

.fa-pen-square{
    color: darkcyan;
    font-size: 2em;
    margin-right: 10px;
}

.fa-file-alt{
    color: darkcyan;
    font-size: 2em;
    margin-right: 10px;
}

.fa-trash{
    color: firebrick;
    font-size: 2em;
    margin-right: 10px;
}

img.poster {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    max-width:300px;
    max-height:350px;
    width: auto;
    height: auto;
}

img.poster-medium {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    max-width:200px;
    max-height:250px;
    width: auto;
    height: auto;
}
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}