{% extends 'app/base.html' %}
{% load staticfiles %}
{% block content %}

 <div class="content container"  >
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/A1.jpg" %}" alt="A1"/>
                                        <div class="caption">

                                            <p><B>Avengers End Game</B></p>
                                            <p><a class="btn btn-primary" navbar role="button">View details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
    <BR>

     <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/CM.jpg" %}" alt="CM"/>
                                        <div class="caption">

                                            <p><b>Captain Marvel 2019</b></p>
                                            <p><a class="btn btn-primary" navbar
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
     <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/T1.jpg" %}" alt="T1"/>
                                        <div class="caption">

                                            <p><b>Toy Story</b></p>
                                            <p><a class="btn btn-primary" navbar
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
    <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/L1.jpg" %}" alt="T1"/>
                                        <div class="caption">

                                            <p><b>Toy Story</b></p>
                                            <p><a class="btn btn-primary" navbar
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>



{% endblock %}
