{% extends 'app/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-12">
                <form id="movie_search_form" action="{% url 'app:movie_search' %}" method="GET" accept-charset="utf-8">
                    <div class="form-row">
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg" id="searchbox" name="moviename" placeholder="Search for movies">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-lg">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    {% for movie in movie_list %}
                        <div class="col-lg-4 text-center">
                            <a href="{% url 'app:movie_detail' pk=movie.pk %}">
                                <img src="{{ movie.poster }}" class="poster-medium mx-auto" alt="Poster">
                            </a>
                            <h6 class="mt-2">{{ movie.name }}</h6>
                            <p class="mb-4">Rating - {{ movie.rating }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Box Office Weekly Ranking</h4>
                {% for movie in box_office %}
                    <ul class="list-group list-group-flush sidebar">
                        <li class="list-group-item">{{ forloop.counter }}.&nbsp;{{ movie.movie_name }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
