{% extends 'app/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ movie.poster }}" class="poster" alt="Poster">
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <h2>{{ movie.name }}</h2>
                    <a href="{% url 'app:movie_edit' pk=movie.pk%}">
                        &nbsp;<i class="fas fa-pen-square" title="Edit"></i>
                    </a>
                </div>
                <p>Released on {{ movie.release_date }} | IMDb - {{ imdb_movie.imdb_rating }}</p>
                <br/>
                <h4>Movie Details</h4>
                <dl class="row">
                    <dt class="col-sm-4">Genre</dt>
                    <dd class="col-sm-8">{{ movie.genre }}</dd>
        
                    <dt class="col-sm-4">Directed By</dt>
                    <dd class="col-sm-8">{{ movie.directed_by }}</dd>
        
                    <dt class="col-sm-4">Movie Runtime</dt>
                    <dd class="col-sm-8">{{ movie.runtime }} minutes</dd>

                    <dt class="col-sm-4">Notable Casts</dt>
                    <dd class="col-sm-8">{{ movie.notable_casts }} minutes</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br/>
                <h2>MovieTwizt Review</h2>
                <h5>MovieTwizt Rating - {{ movie.rating }}</h5>
                <p>{{ movie.review }}</p>
                <strong>Review in Spanish</strong>
                 <p>{{ movie.obj2|linebreaks }}</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}