{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

 <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity </th>
                </tr>
            </thead>
            <tbody>
                {% for orderdetail in orderdetails %}
                <tr>
                    <td> {{ orderdetail.order_id }}</td>
                    <td>
                        {% for product in product %}
                        {% if product.id == orderdetail.product_id %}

                        {{ product.name }}

                        {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {{ orderdetail.quantity }}
                    </td>
                    <td>{{ orderdetail.price }}</td>

                </tr>
                {% endfor %}
            <tr class="total">
				<td>Total</td>
				<td colspan="4"></td>
				<td class="num">${{ total_amount }}</td>
			</tr>
            </tbody>
      </table>
 </div>

{% endblock %}