
{% extends "app/base.html" %}
{% load static %}

{% block title %}
	{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-2">
		<h5>Category</h5>
		<ul class="list-group list-group-flush sidebar">
			<li class="list-group-item">
				<a href="{% url 'app:product_list' %}">All</a>
			</li>
			{% for c in categories %}
				<li class="list-group-item">
					<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-10">
		<h2>
			{% if category %}
				{{ category.name }}
			{% else %}
				All Products
			{% endif %}
		</h2>
		<div class="row">
			{% for product in products %}
				<div class="col-sm-6 col-md-4 col-lg-3 text-center">
					<a href="{{ product.get_absolute_url }}">
						<img class="products mx-auto" src="{{ product.image }}">
						{{ product.name }}
					</a>
					<p>
						<strong>${{ product.price }}</strong>
					</p>
				</div>
			{% endfor %}			
		</div>
	</div>
</div>

{% endblock %}